body {
  margin: 0;

  text-transform: uppercase;

  background-color: #f2f2f2;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

h2,
h3,
.footer-hash {
  margin: 0;

  text-transform: uppercase;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.page-header {
  position: relative;
}

.main-menu {
  text-align: left;

  font-size: 0;
}

.main-menu ul {
  padding: 0;
}

.main-menu li {
  display: inline-block;

  box-sizing: border-box;
  width: 20%;
  min-height: 56px;

  text-align: center;
  vertical-align: baseline;
}

.main-menu li:nth-of-type(2) {
  margin-right: 20%;
}

.main-menu a {
  display: inline-block;

  margin-top: 17px;

  vertical-align: baseline;
  text-decoration: none;

  color: #000000;

  font-size: 14px;
  font-weight: bold;
}

.main-menu li:nth-of-type(5n+1),
.main-menu li:nth-of-type(5n+2) {
  padding-left: 72px;

  text-align: left;
}

.main-menu li:nth-of-type(5n+3),
.main-menu li:nth-of-type(5n+4) {
  padding-right: 72px;

  text-align: right;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #b2b2b2;
}

.menu-active a {
  color: #766357;
  cursor: default;
}

.menu-active a:hover {
  color: #604e43;
}

.menu-active a:active {
  color: #dbd8d5;
}

.sedona-logo {
  position: absolute;
  z-index: 10;
  left: 50%;

  transform: translateX(-50%);
}

.image-block {
  box-sizing: border-box;
  width: 1200px;
  min-height: 508px;
  margin-bottom: 60px;
  padding-top: 76px;

  background-color: #5496bd;
  background-image:
    url("../img/image-sedona-mask.png"),
    url("../img/image-sedona.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-size: 1200px 57px, cover;
}

.text-image-wrapper {
  text-align: center;
}

.page-title-block {
  min-height: 156px;

  text-align: center;
}

.page-title-block h2 {
  width: 450px;
  margin: 0 auto;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
}

.sedona-reasons {
  margin-bottom: 55px;

  text-align: center;
}

.reason-block,
.feature-item {
  float: left;

  width: 400px;
}

.reason-block {
  min-height: 256px;

  background-color: #eeeeee;
}

.reason-block h2 {
  width: 151px;
  margin: 0 auto;
  margin-top: 54px;
}

.reason-block p {
  width: 308px;
  margin: 0 auto;
  margin-top: 20px;
}

.reason-block .text-stripes {
  margin-top: 25px;
}

.text-stripes::before {
  content: "— ";
}

.text-stripes::after {
  content: " —";
}

.feature-item {
  position: relative;

  width: 33.3%;
  min-height: 330px;
}

.feature-item h2 {
  margin-top: 161px;
}

.feature-item p {
  width: 275px;
  margin: 0 auto;
  margin-top: 24px;
}

.feature-item:nth-of-type(2) p {
  width: 300px;
}

.feature-item::before {
  position: absolute;
  top: 60px;
  left: 50%;

  display: block;

  content: "";
  transform: translateX(-50%);

  background-image: url("../img/feature-icons-sprite.png");
  background-repeat: no-repeat;
}

.icon-hotels::before {
  width: 75px;
  height: 72px;

  background-position: -5px -5px;
}

.icon-meal::before {
  top: 61px;
  left: calc(50% + 1px);

  width: 74px;
  height: 70px;

  background-position: -90px -5px;
}

.icon-gifts::before {
  top: 56px;
  left: calc(50% + 2px);

  width: 64px;
  height: 76px;

  background-position: -174px -5px;
}

[class^="reason-image-block"] {
  width: 800px;
  min-height: 256px;

  background-color: #5496bd;
}

.reason-image-block-1 {
  float: right;

  background-image: url("../img/image-reason-1.jpg");
}

.reason-image-block-2 {
  float: left;

  background-image: url("../img/image-reason-2.jpg");
}

.block-left {
  float: left;
}

.block-right {
  float: right;
}

.reasons-row:last-of-type h2 {
  margin-top: 47px;
}

.reasons-row:last-of-type p {
  width: 278px;
}

.background-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.search-form-wrapper {
  position: relative;

  text-align: center;

  font-size: 0;
}

.search-form-wrapper h2 {
  font-size: 30px;
}

.search-form-wrapper p {
  margin-bottom: 2px;

  font-size: 14px;
  line-height: 24px;
}

.search-form-btn {
  display: block;

  box-sizing: border-box;
  width: 568px;
  min-height: 86px;
  margin: 0 auto;
  margin-top: -8px;
  padding-top: 32px;

  text-decoration: none;

  color: #ffffff;
  background-color: #766357;

  font-size: 21px;
  font-weight: bold;
}

.modal-form {
  position: absolute;
  z-index: 10;
  left: 50%;

  /*display: none;*/

  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 55px;

  transform: translateX(-50%);

  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modal-form label {
  display: inline-block;

  box-sizing: border-box;
  width: 25%;
  margin-bottom: 37px;

  text-align: left;
  vertical-align: baseline;

  font-size: 14px;
  font-weight: bold;
}

.modal-form label:last-of-type {
  padding-right: 25px;

  text-align: right;
}

.modal-form input {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-height: 38px;
  padding: 0 12px;

  text-align: left;
  text-transform: uppercase;

  border: none;
  outline: none;
  background-color: #f2f2f2;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.modal-form input:hover {
  background-color: #ebebeb;
}

.modal-form input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.date-select-wrapper {
  position: relative;

  display: inline-block;

  width: 75%;

  vertical-align: baseline;
}

.date-select {
  position: absolute;
  top: 50%;
  right: 1px;

  display: block;

  width: 38px;
  height: 38px;

  cursor: pointer;
  transform: translateY(-50%);

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAYAAAAvg9c4AAABUklEQVQ4jbWV0XGEMAxEH5lrgBZowS04JZASuBKghFBCroRQAnz5nxYoIZSQfFgOwhEZJnfZGQa0Xi+WLEMRQiCDBxrgRXEl8A5cgUXxb8AEDNrgKXcEHFAbnAeqjG8MjiKE0ACtNfgHLEBfhBA+iCnMMuDl6pS4klXd2Kf/KnMnpasvxHrd1EAy7lXsxHTIdK3EvZrXXIwU8tUgWVwzQw44LNOVbDfVy3JYOnP374Zl2gKfcnnhRolHib3StGdM74ZV0579zgM8Z/EEFEem1kobYpojsZUg9uMod4RPmubMSku2WpbKxB9oTrXUwHa60r0To1XxqSR5T5umFVvaixg5ZTrLs1NzdsaWqWOr3SwTamK6E/EQVErTkZXAMp3ZPiZpBenMr4rvlH4Hy1R/dRLyI7rws+2+8a/N735VnYdLpj1b0R+BvpAfX8VjficrMH8BlxFZZdnfYywAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center center;
}

.date-select:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAYAAAAvg9c4AAABHUlEQVQ4jdWV4W2EMAyFv6u6ACuwQlagI7ACK5QRWKEdoTdCWIER7kY4Rkh/YBcXm7a6u1bqk6Ik1uPFz3ICeDTA2yZWARmoN/EXoA00HJ6BEhxUZLYownfogJMQbh0noDsAF2AEJpNVA/Tm4FoOfwXOJj7It6PhtWrB2orspx37l419LZMjV8TF74JYK/xvRW9BA5SHO4l9QiSqNbUOsuyzzYidlvqVTOGPatqx2MwsrQRLP2aZkbhyXFc8BqIVa+baLgnfdrof2SASPbLeLp17EZpN/EnW9obtitasts8ilIzoJOtkvnHCe9f0mpZqgBJlOrE+JprBkaV2s4n3hu/wP66p2k9fsn6OD52B+7z6OoaDCNf4n9o1mIHpHXG/dv2Fx5RWAAAAAElFTkSuQmCC);
}

.date-select:active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAYAAAAvg9c4AAABUklEQVQ4jbWUwXGDMBBFHxkacAu0oBaUEpwSSAlw9c0qIZQQjj5CC1xcAC1QQnLQKizKOsOE5M8weL++vndXi4rL7U4GD9TAi+JOwDvwCsyKfwNGoNcGT7kj4ICzwXmgyvja4Cgut3sNNNbiLzADoQSuxBI6WfDytEpcSVYd2/LT3lHpriWxX51aSMZBxU5M+0zXSBzUvro0SsizAZiIhzRmvMVhmS5kp6n+LIelM0//MCzTBviQxws3SDxI7JWm2WN6GFZPA9uTB3jO4hEoHplamdbEMgfiKEGcx0HeCJ809Z5MT6y9PCkT/0Cza6R64lyi3q0YLYpPLcln2jStWMuexcgp00l+O7VnY2yZOtbeTbLhTCw33RGV0rRkLbBMJ9bLJGWQvvlF8a3Sb2CZ6lsnIf9EZ76P3Rf+dfjdj6r9cMk0sDb9LxBKYsPTiR7FAkyf17ZU6fTqCokAAAAASUVORK5CYII=);
}

.form-counter-wrapper {
  display: inline-block;
  vertical-align: baseline;

  width: 25%;
  min-height: 38px;
}

.form-counter-wrapper > input {
  width: 33.3%;

  text-align: center;
}

.form-counter-wrapper > a {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 33.3%;
  min-height: 38px;

  vertical-align: top;
  text-decoration: none;

  color: #a9a9a9;
  background-color: #f2f2f2;
}

.form-counter-wrapper:hover > a,
.form-counter-wrapper:hover > input {
  background-color: #ebebeb;
}

.form-counter-wrapper > input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form-counter-less {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAADCAYAAACnI+4yAAAAJklEQVQImZXKQQEAIAwEIFyUddKOZ0orTN6sJBvXzCn0MEPXRwYP4bEDmlyJ9YgAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center center;
}

.form-counter-more {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAVklEQVQYlbWQuxGAQAgFF1o6e6FGevFqoQRN1EHGzxm4yWN4GzAIBXefgQZ0M5typ1XexJyP8i2fZEk3vtF1UARoCsSgHFI37r7ss5md+v++cSVHyYMV61IRYzWSiicAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center center;
}

.form-counter-less:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAADCAYAAACnI+4yAAAAJElEQVQImZXKQQ0AAAjEsAYpeDr/UsACLOlvEMxRCu1e12MGCxrECumiy249AAAAAElFTkSuQmCC);
}

.form-counter-more:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAPklEQVQYlWNgwARnGBgY/kNpFMCIRfF/XPJMWBTjBCQrhrkRhtGdBMNnGLEowGvyeyLVvh9EoYEO3qPRcAAAZvgQ9v9l7WIAAAAASUVORK5CYII=);
}

.form-counter-less:active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAADCAYAAACnI+4yAAAAKklEQVQImWNs3HwplIGBYRUDcSCMiYGBQYlIxQwMDAxKTCQoZmBgYGAAAOebA6UBAGYuAAAAAElFTkSuQmCC);
}

.form-counter-more:active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAWUlEQVQYlbWQwQmAQAwE54IV2MrZoDXZRvzYSErQj8oS7kQfDoRAdiAhZV42Eg5UYAUmDSybp6j9Ue7yWXZgl1J07ta6rUM1IF7KMQBjY/VF0eDfb2Qi9ZsDnOARShl6sy0AAAAASUVORK5CYII=);
}

.submit-btn {
  position: absolute;
  bottom: 55px;
  left: 50%;

  display: block;

  width: 458px;
  min-height: 58px;

  cursor: pointer;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  outline: none;
  background-color: #81b3d2;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #669ec0;
}

.submit-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

#map-wrapper {
  width: 1200px;
  height: 593px;

  background-color: #5496bd;
  background-image: url("../img/map-sedona.jpg");
}

.footer-hash,
.footer-social,
.footer-copyright {
  float: left;

  box-sizing: border-box;
  width: 400px;
  min-height: 120px;
  padding-top: 48px;
  padding-left: 4px;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-copyright {
  padding-top: 41px;
  padding-right: 2px;
}

.logo-htmlacademy {
  display: inline-block;

  width: 113px;
  height: 39px;
  margin-left: 5px;

  vertical-align: middle;

  background-image: url("../img/htmlacademy-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;

  font-size: 0;
}

.logo-htmlacademy:hover {
  background-position: -128px -5px;
}

.logo-htmlacademy:active {
  width: 113px;
  height: 39px;

  background-position: -251px -5px;
}

.sort-count {
  display: inline-block;

  width: 160px;

  vertical-align: baseline;
}

.sort-title {
  margin-right: 36px;

  font-size: 12px;
}

.sort-list {
  display: inline-block;

  padding: 0;

  vertical-align: baseline;

  font-size: 0;
}

.sort-list li {
  display: inline-block;

  margin-right: 33px;

  list-style: none;

  vertical-align: baseline;

  font-size: 12px;
}

.sort-list a:not(.sort-type-active) {
  border-bottom: 1px dotted #81b3d2;

  line-height: 14px;
}

.search-result-sort {
  position: relative;

  box-sizing: border-box;
  min-height: 86px;
  padding-top: 32px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.sort-list a {
  text-decoration: none;

  color: #cccccc;
}

.sort-list .sort-type-active,
.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.arrow-block {
  position: absolute;
  top: calc(50% + 1px);
  right: 1px;

  margin-right: 70px;

  transform: translateY(-50%);
}

.sort-arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  color: #cccccc;

  font-size: 14px;
}

.sort-arrow:hover {
  color: #000000;
}

.sort-arrow:active {
  color: #81b3d2;
}

.sort-arrow:last-of-type {
  margin-left: 6px;
}

.arrow-active {
  color: #81b3d2;
}

.search-result {
  position: relative;

  height: 151px;

  border-bottom: 1px solid #e5e5e5;
}

.search-result h3 > a {
  text-decoration: none;

  color: #000000;
}

.search-result h3 {
  margin-bottom: 10px;
}

.search-result figure {
  float: left;

  margin-top: 30px;
  margin-right: 30px;
  margin-left: 72px;
}

.result-block {
  float: left;

  margin-top: 28px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.footer-social {
  padding-top: 36px;

  font-size: 0;
}

.social-btn {
  position: relative;

  display: inline-block;

  width: 46px;
  height: 48px;
  margin-right: 6px;

  vertical-align: top;

  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
}

.social-btn:active::before {
  opacity: 0.3;
}

.btn-tw::before {
    width: 17px;
    height: 15px;

    background-position: -5px -5px;
}

.btn-fb::before {
    top: calc(50% - 2px);

    width: 10px;
    height: 19px;

    background-position: -32px -5px;
}

.btn-youtube::before {
    width: 20px;
    height: 16px;

    background-position: -52px -5px;
}

.page-footer {
  position: relative;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
}

.position-static {
  position: static;
}

.result-row {
  font-size: 0;
}

.result-row > h3 > a:hover {
  color: #81b3d2;
}

.result-row > h3 > a:active {
  color: #cacaca;
}

.result-cell {
  display: inline-block;

  min-width: 110px;
  margin-right: 5px;

  font-size: 14px;
}

.details-btn,
.book-btn {
  display: inline-block;

  box-sizing: border-box;
  min-width: 110px;
  min-height: 27px;
  margin-top: 8px;
  margin-right: 5px;
  padding: 3px 17px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  outline: none;

  font-size: 14px;
  font-weight: bold;
}

.details-btn {
  background-color: #81b3d2;
}

.details-btn:hover {
  background-color: #669ec0;
}

.details-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book-btn {
  background-color: #766357;
}

.book-btn:hover {
  background-color: #604e43;
}

.book-btn:active {
  color: #857871;
  background-color: #503e33;
}

.filters-block {
  box-sizing: border-box;
  width: 1200px;
  min-height: 217px;
  padding-top: 28px;

  background-color: #5496bd;
  background-image: url("../img/background-filter.jpg");
}

.filter-column {
  float: left;

  width: 255px;
  padding-left: 0;

  color: #ffffff;
}

.filter-column:first-of-type {
  padding-left: 72px;
}

.filter-column h2 {
  margin-bottom: 24px;

  font-size: 16px;
}

.filter-form-field {
  margin-bottom: 25px;
}

.price-range-column {
  float: right;

  padding-right: 72px;

  text-align: center;

  color: #ffffff;
}

.price-range-column h2 {
  margin-bottom: 10px;

  text-align: left;

  font-size: 16px;
}

.price-range-field {
  position: relative;

  margin-left: 10px;

  font-size: 0;
}

.price-range-field label {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  font-size: 14px;
}

.price-range-field label[for="range-min-price"] {
  left: 35px;

  transform: translateY(-50%);
}

.price-range-field label[for="range-max-price"] {
  left: 195px;
}

.price-range-field::after {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  border-right: 1px solid #ffffff;
  background-color: #ffffff;
}

#range-min-price,
#range-max-price,
.filter-form-btn {
  padding: 8px 0;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;

  font-size: 14px;
}

#range-min-price,
#range-max-price {
  width: 157px;

  font-family: "PT Sans", "Arial", sans-serif;
}

#range-min-price {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#range-max-price {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#range-min-price:focus,
#range-max-price:focus {
  outline: none;
}

.price-range-slider {
  position: relative;

  min-height: 22px;
  margin-bottom: 32px;
  margin-left: 10px;
}

.slider-fullbar {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 258px;

  content: "";

  border-bottom: 2px solid #ffffff;
}

.slider-bar {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 56px;

  content: "";

  border-bottom: 2px solid #938482;
}

.slider-point {
  position: absolute;
  top: 11px;

  width: 20px;
  height: 20px;

  content: "";
  cursor: pointer;

  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.slider-min-point {
  left: 0;
}

.slider-max-point {
  right: 46px;
}

.slider-point::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  content: "";
  transform: translate(-50%,-50%);

  border-radius: 50%;
  background-color: #ababab;
}

.slider-point:hover::before {
  background-color: #1c4f80;
}

.filter-form-btn {
  padding: 8px 34px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-form-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;

  padding-left: 41px;

  cursor: pointer;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 22px;
  height: 22px;

  content: "";
  transform: translateY(-50%);

  background-image: url("../img/checkbox-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

input[type="checkbox"]:checked + label::before {
  width: 26px;

  background-position: -37px -5px;
}

input[type="checkbox"]:disabled + label::before {
  width: 22px;

  background-position: -73px -5px;
}

input[type="checkbox"]:checked:disabled + label::before {
  width: 26px;

  background-position: -105px -5px;
}

.stars {
  position: absolute;
  top: 28px;
  right: 67px;

  letter-spacing: 4px;

  color: #81b3d2;

  font-size: 24px;
}

.rating {
  position: absolute;
  top: 94px;
  right: 72px;

  box-sizing: border-box;
  min-width: 111px;
  min-height: 27px;
  padding: 3px 14px;

  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}
